{% extends 'base/base.html' %}
{% block content %}
<h1 class="text-3xl  my-6  text-indigo-600">Cart</h1>
{%for item in cart %}
<div class="px-4 py-3 mb-2 bg-indigo-200">
&nbsp;&nbsp;<div class="flex items-center">
    <div class="w-1/6"><img src="{{item.product.image.url}}" alt="No image" class="image"></div>


<div class="pl-6 mr-3"><h1 class="text-3xl">{{item.product.title}}</h1></div>
</div>
<div class="text-2xl mt-3 ml-3">Price: &#8377;{{item.product.price}}</div>

<div class="ml-5 mt-5"><a href="../change-quantity/{{item.product.id}}?action=increase" class="text-white bg-indigo-800 pb-1 px-4">+</a>
<b>{{item.quantity}}</b>
<a href="../change-quantity/{{item.product.id}}?action=decrease" class="text-white bg-indigo-800 pb-1 px-4">-</a></div>&nbsp;&nbsp;<div><a href="../remove-from-cart/{{item.product.id}}" class="inline-block flex justify-end"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
  </svg>
  </a></div>
</div>
<br>
{%endfor%}
<br>
<hr class="my-4">
<p><strong>Total price: </strong>&#8377;{{cart.get_total_cost}}</p>
<hr class="my-4">
{% if request.user.is_authenticated%}
 {% if cart|length %}
   <form action='../cart/payment' method="POST">
    {% csrf_token %}
   <button class="inline-block bg-indigo-800 text-white px-8 py-4 hover:bg-purple-500">Checkout</button>
   </form>
 {% else %}
   <div class="mr-3 inline-block">You do not have any products in your cart!</div>
   <a href="../" class="inline-block bg-indigo-800 text-white px-8 py-3 hover:bg-purple-500">Back to homepage</a>
 {% endif %}
{% else %}
<a href ="../login" class="inline-block bg-indigo-800 text-white px-8 py-4">Checkout</a>
{% endif %}
{%endblock%}